
<style>
	#aa{
		margin-left: 30px;
	}
</style>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#"><%= t("channels._navbar.Rails chat Application") %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-bar-collapse" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="dropdown show" style="margin-left: 935px;">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span class="glyphicon glyphicon-envelope"><%= t('channels._navbar.Setting') %></span></a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <p style="margin-left: 29px"><%= link_to t('channels._navbar.Edit'), edit_channel_path(@channel), method: 'get' %></a></p>
    <p style="margin-left: 29px"> <%= link_to t('channels._navbar.Remove'),channel_path(@channel), method: 'delete', data: { confirm: 'Are you sure?' } %></a></p>
    <p style="margin-left: 29px"><%= link_to t('channels._navbar.Invite'), channel_channels_user_index_path(@channel) %></p>
   
  </div>
</div>
<%= link_to "<i class='fa fa-star stars'></i>".html_safe, star_path %>
 <% if current_user %>
     <%= current_user.name %>
      <%= link_to t('layouts._navbar.Logout'), logout_path %>
   <% else %> 
    <%= link_to t('layouts._navbar.Sign In'), login_path %> <%= link_to t('layouts._navbar.Sign Up'), new_signup_path %>
  <% end %>  
</nav>