
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 58px;
  left: 3px;
  background-color: Lavender;
  overflow-x: hidden;
}
.textMessage{
  margin-top: 0px;
  margin-left: 300px;
}

.showMessag{
   margin-left: 150px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

}
</style>
</head>
<body>

    
<%= render 'channels/navbar' %>

<div class="sidenav">
  <ul class="list-group">
  <li class="list-group-item">
  <div class="dropdown">
  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:red">
     <%=@currentWorkspace.name %>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   <p style="margin-left: 29px"><%= link_to 'Edit', edit_workspace_path(@currentWorkspace), method: 'get'%></p>
    <p style="margin-left: 29px"> <a class="dropdown-item" href="#"><%= link_to 'Remove', workspace_path(@currentWorkspace), method: 'delete', data: { confirm: 'Are you sure?' } %></a></p>
    <a class="dropdown-item" href="#">Switch to other Workspace</a>
  </div>
 
</div>
</li>
  
    <% if @channels %>


  <% @channels.each do |channel| %>
    <li class="list-group-item">#<%= link_to channel.name, channel_path(channel)  %></li>
  <% end %>

<% else %>

<% end %>
  
  <li class="list-group-item">Vestibulum at eros</li>

</ul>

</div>

<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col-sm-6 offset-3">
  <table class="table table-hover">
</table>
<div class="form-group mx-sm-0">
  
  </div>
</div>
</div>

    <div style="margin-left: 300px;">
     <% if @messages %>
      <% @messages.each do |message| %>
       <%=  message.user.email %><%= message.created_at %>

      <div class="alert alert-primary" role="alert"> 
        <%=  message.name %>
     <a class="dropdown-item" href="#"><%= link_to 'Remove', message_path(message), method: 'delete', data: { confirm: 'Are you sure?' } %></a>
   <%= link_to 'Edit', edit_message_path(message), method: 'get'%>
    <div class="float-right">
        <%= form_for @thread, :url => url_for(:controller => 'thread_replies', :action => 'create') do |f| %>
        <%= f.hidden_field :channel_id, value: @channel.id ,name:"channel_id" %>
        <%= f.hidden_field :message_id, value: message.id ,name:"message_id" %>
      
     <a data-toggle="collapse" href="#" data-target="#collapse-<%= message.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
     Reply 
      </a>

     
      <a data-toggle="collapse" href="#" data-target="#collapse-aa" role="button" aria-expanded="false" aria-controls="collapseExample">
 

       |
      <a data-toggle="collapse" href="#" data-target="#collapse-<%= message.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
     View
    </a>


      </a>
       </div>
       <div class="collapse" id="collapse-<%= message.id %>"> 
      <div class="form-group"> 
        <%= f.text_area :text, name:'text', class: 'form-control' %>
        </div>
      <div class="form-group">
     <%= f.submit "Send", class: 'btn btn-primary btn-sm' %>
     </div>
     </div>
     
  <% end %>
      </div>             

    <% end %>
     <% else %>
     <div class="alert alert-primary" role="alert"> Lets Chat!"</div>
     <% end %>
    </div>
     
  <div class="textMessage">

 <%= form_for @message, :url => url_for(:controller => 'messages', :action => 'create') do |f| %>
  <%= f.hidden_field :channel_id, value: @channel.id ,name:"channel_id" %>
  <div class="text-container">  
    
    <div class="form-group">
    <%= f.text_area :name, name:'name', class: 'form-control' %>
    </div>
 

  <div class="form-group">
     <%= f.submit "Send", class: 'btn btn-primary btn-sm' %>
  </div>
  <% end %>

  </div>
<<<<<<< HEAD
   </div>
 <%= will_paginate @messages %>
=======
  <%= will_paginate @messages %>
   </div>
 
>>>>>>> f9d9b9878e743b3aa5cb619e885db9be7fc203dc
</body>
</html> 