<div class="card">
 <div class=" card-header">
  <h4 class="text-center text-info"><%= t('signup.new.signup') %> </h4>
</div>
<div class="card-body">
 <%= form_for  @user, url: {action: "create"} do |f| %>

 <i class="fa fa-user text-info text-uppercase">  <%= f.label :Name %></i>
 <%= form_group_for f, :name, label: false  do %>
 <div class="Input-group">
     <%= f.text_field :name, class: 'form-control', placeholder: t('signup.new.UserName') %>
 </div>
 <% end %>   

 <i class="fa fa-envelope text-info text-uppercase">  <%= f.label :Email %></i>
 <%= form_group_for f, :email, label: false  do %>
 <div class="Input-group">   
     <%= f.text_field :email, class: 'form-control', placeholder: t('signup.new.Email') %>
 </div>
 <% end %>

 <i class="fa fa-lock text-info text-uppercase">  <%= f.label :Password %></i>
 <%= form_group_for f, :password, label: false  do %>
 <div class="Input-group">               
     <%= f.password_field :password, class: 'form-control', placeholder: t('signup.new.Password') %>
 </div>
 <% end %>

 <i class="fa fa-lock text-info text-uppercase">  <%= f.label :Password_Confirmation %> </i>
 <%= form_group_for f, :password_confirmation, label: false  do %>
 <div class="Input-group">

     <%= f.password_field :password_confirmation, class:'form-control', placeholder: t('signup.new.password_confirmation') %>
 </div>
 <% end %>

 <div class="form-group">
     <%= f.submit t("signup.new.Save"), class: "btn btn-info btn" %>
     <%= link_to t('signup.new.Cancel'), root_path, class: "btn btn-info" %>
 </div> 
 <% end %>
</div>
</div>