
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 58px;
  left: 3px;
  background-color: Lavender;
  overflow-x: hidden;
}





@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>
<%= render 'workspaces/navbar' %>
<div class="sidenav">
  <ul class="list-group">
  <li class="list-group-item">
  <div class="dropdown">
  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:red">
    <%=@workspace.name %>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   <p style="margin-left: 29px"><%= link_to 'Edit', edit_workspace_path(@workspace), method: 'get'%></p>
    <p style="margin-left: 29px"> <a class="dropdown-item" href="#"><%= link_to 'Remove', workspace_path(@workspace), method: 'delete', data: { confirm: 'Are you sure?' } %></a></p>
    <a class="dropdown-item" href="#">Switch to other Workspace</a>
  </div>
</div></li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
Add New Channel
    <span class="badge  badge-pill">
      
 
  
</ul>

</div>
<div class="container" style="margin-top: 80px;">
  <div class="row">
  <div class="col-sm-6 offset-3">
 <div class="card">
  <h5 class="card-header info-color white-text text-center ">
    <strong> Edit Workspace</strong>
  </h5>
  <div class="card-body">
  <div class="form-group">
    <%= form_with model: @workspace do |form| %>
<div class="form-group">
<%= form.label :name %>
  <%= form.text_field :name, placeholder: "Workspace Name", class:'form-control' %>
</div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
  </div>
  </div>


</div>
  
</body>
</html> 


 

