
    <!DOCTYPE html>
    <html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <%= render 'layouts/navbar' %>
      <div class="sidenav">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%=@workspace.name %>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               <p><%= link_to 'Edit', edit_workspace_path(@workspace), method: 'get'%></p>
               <p> <a class="dropdown-item" href="#"><%= link_to 'Remove', workspace_path(@workspace), method: 'delete', data: { confirm: 'Are you sure?' } %></a></p>
               <a class="dropdown-item" href="#">Switch to other Workspace</a>
             </div>
           </div></li>
           <li class="list-group-item d-flex justify-content-between align-items-center">
            Add New Channel
            <span class="badge  badge-pill">
             <%= link_to " #", new_channel_path(:id =>@workspace.id) %></span>
           </li>
           <% if @channels %>
           <% @channels.each do |channel| %>
           <li class="list-group-item">#<%= link_to channel.name, channel_path(channel)  %></li>
           <% end %>

           <% else %>
           <% end %>     
           <li class="list-group-item"> <%= link_to 'Invite member', workspace_users_workspace_index_path(@workspace) %></li>
         </li> 
       </ul>
     </div>
     <div class="container">
      <div class="row">
        <div class="col-sm-6 offset-3">
         <div class="card">
          <h5 class="card-header info-color white-text text-center ">
            <strong> <%= t('workspaces.edit.Edit Workspace') %></strong>
          </h5>
          <div class="card-body">
           <%= form_for  @workspace do |f| %>
           <%= form_group_for f, :name, label: false  do %>
           <%= f.label :name %>
           <div class="Input-group">
          
            <%= f.text_field :name, class: 'form-control', placeholder: t('workspaces.edit.Edit Workspace Name') %>
          </div>
          <% end %> 
           <div class="form-group"> <%= f.submit class: 'btn btn-primary btn-flat btn-block' %>
            <%= link_to 'Cancel', workspace_path, class: "btn btn-flat btn-block btn-primary" %>
          <% end %>
           </div>
        </div>
      </div>
    </div>
    </body>
    </html> 




