  <!DOCTYPE html>
  <html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        font-family: "Lato", sans-serif;
      }
      .sidenav {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 58px;
        left: 3px;
        background-color: Lavender;
        overflow-x: hidden;
      }
      .main {
        margin-left: 160px; /* Same as the width of the sidenav */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
      }
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
    </style>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <div class="sidenav">
     <ul class="list-group">
      <li class="list-group-item">
        <div class="dropdown">
          <button class="btn dropdown-toggle text-info font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <%= @workspace.name %>
         </button>
         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
           <% if @works %>
           <% @works.each do|usersworkspace| %>
           <% if usersworkspace.role=='owner' && usersworkspace.workspace_id==@workspace.id %>
           <p style="margin-left: 29px"><%= link_to t('workspaces._form.Edit'), edit_workspace_path(@workspace), method: 'get',class:'text-info'%></p>
           <p style="margin-left: 29px"> <a class="dropdown-item" href="#"><%= link_to t('workspaces._form.Remove'), workspace_path(@workspace), method: 'delete', data: { confirm: 'Are you sure?' }, class:'text-info' %></a></p>
           <!--            <a class="dropdown-item" href="#"></a> -->
           <% else %>
           <% end %>
           <% end %>
           <% else %>
           <% end %>
         </div>
       </div></li>
       <li class="list-group-item d-flex justify-content-between align-items-center text-info font-weight-bold">
        <%= t('workspaces._form.Add New Channel') %>
        <span class="badge  badge-pill">
         <%= link_to " #", new_channel_path(:id =>@workspace.id) %></span>
       </li>
       <% if @channels %>
       <% @channels.each do |channel| %>
       <% tmp = 0 %>
       <% @cu.each do |cu|%>
       <% if cu.user_id == current_user.id and cu.channel_id == channel.id %>
       <% tmp = 1%>
       <% end %>
       <% end %>
       <% if channel.privacy == true %>
       <li class="list-group-item">#<%= link_to channel.name, channel_path(channel), class:'font-weight-bold text-info' %></li>
       <% else %>
       <% if tmp == 1 %>
       <li class="list-group-item">#<%= link_to channel.name, channel_path(channel), class:'font-weight-bold text-info' %></li>
       <% else %>
       <% end %>
       <% end %>    
       <% end %>
       <% else %>
       <% end %>
       <li class="list-group-item"><%= link_to t("workspaces.show.Invite"), workspace_users_workspace_index_path(@workspace), class:'font-weight-bold text-info' %></li> 
       
       <!-- <li> <%= link_to "User Management", user_path %> -->
     </ul>
   </div>  
 </body>
 </html> 