<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 58px;
  left: 3px;
  background-color: Lavender;
  overflow-x: hidden;
}



.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>
<%= render 'layouts/navbar' %>
<div class="sidenav">
  <ul class="list-group">

  <li class="list-group-item">
  <div class="dropdown">
  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:red">
  	<%= @workspace.name %>
  	</button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   <%  @usersworkspace.each do |usersworkspace| %>
   <% if @workspace.id== usersworkspace.workspace_id && current_user.id == usersworkspace.user_id && usersworkspace.role== "member" %>

         <% elsif @workspace.id== usersworkspace.workspace_id && current_user.id == usersworkspace.user_id && usersworkspace.role== "owner" %>
         
       
   <p style="margin-left: 29px"><%= link_to 'Edit', edit_workspace_path(@workspace), method: 'get'%></p>
    <p style="margin-left: 29px"> <a class="dropdown-item" href="#"><%= link_to 'Remove', workspace_path(@workspace), method: 'delete', data: { confirm: 'Are you sure?' } %></a></p>
    <a class="dropdown-item" href="#"></a>
  </div>
           <% else %>
   <% end %>
   <% end %>
 
   
</div></li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
Add New Channel
    <span class="badge  badge-pill">
       <%= link_to " #", new_channel_path(:id =>@workspace.id) %></span>
  </li>



 <% if @channels %>


  <% @channels.each do |channel| %>
    <li class="list-group-item">#<%= link_to channel.name, channel_path(channel)  %></li>
     

  
  <% end %>

<% else %>

<% end %>
     
 

<li class="list-group-item"> <%= link_to 'Invite member', workspace_users_workspace_index_path(@workspace) %></li>
</li>

     <% @usersworkspace.each do|usersworkspace| %>
   <% if usersworkspace.workspace_id == @workspace.id && usersworkspace.role=='member' %>
 <li class="list-group-item" ><%= usersworkspace.user.email %></li>
   <% else %> 
      <% end %>
  <% end %>
</ul>
</div>
<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-sm-10" style="margin-top: 400px;">
        <div class="text-container">  
     

		</div>
	</div>
</div>
  
</body>
</html> 