  <!DOCTYPE html>
  <html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%= render 'layouts/navbar' %>

    <div class="sidenav">
   
         <%= render 'layouts/sidebar' %>
    </div>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
           <table class="table table-dark">
  <thead>
    <tr>
      
      <th scope="col"><%= t("users_workspace.index.Name") %></th>
      <th scope="col"><%= t("users_workspace.index.Email") %></th>
      <th scope="col"><%= t("users_workspace.index.Invite User") %></th>
    </tr>
  </thead>
  <tbody>
   
    <% @users.each do |user| %>
                    <tr>
                    
                <td><%= user.name %></td>
                 <td><%= user.email %></td>
                  <td>
                <% if !user.users_workspace.find_by(workspace_id: params[:workspace_id]).nil? %>
                            <% if user.users_workspace.find_by(workspace_id: params[:workspace_id]).role == 'member' %>

                                <%= link_to t('users_workspace.index.Uninvite'),workspace_users_workspace_path(params[:workspace_id], user), method: :put, class: "btn btn-primary btn-sm", id: user.id %>
                            <% end %>
                            <% if user.users_workspace.find_by(workspace_id: params[:workspace_id]).role.empty? %>
                                <%= link_to t('users_workspace.index.Invite'), workspace_users_workspace_path(params[:workspace_id], user), method: :put, class: "btn btn-primary btn-sm", id: user.id %>
                            <% end %>
                        <% end %>

                        <% if user.users_workspace.find_by(workspace_id: params[:workspace_id]).nil? %>
                            <%= link_to t('users_workspace.index.Invite'), workspace_users_workspace_path(params[:workspace_id], user), method: :put, class: "btn btn-primary btn-sm", id: user.id %>
                        <% end %>
                           
                        </td>
           
                          </tr>
                <% end %>
  </tbody>
</table>
    </div>
</div>
</div>
  </body>
  </html> 