      <ul class="list-group">

        <li class="list-group-item">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:red">
             <%= @workspace.name %>
           </button>

           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            

             <p style="margin-left: 29px"><%= link_to t('workspaces._form.Edit'), edit_workspace_path(@workspace), method: 'get'%></p>
             <p style="margin-left: 29px"> <a class="dropdown-item" href="#"><%= link_to t('workspaces._form.Remove'), workspace_path(@workspace), method: 'delete', data: { confirm: 'Are you sure?' } %></a></p>
             <a class="dropdown-item" href="#"></a>
           </div>
         


         </div></li>
         <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= t('workspaces._form.Add New Channel') %>
          <span class="badge  badge-pill">
           <%= link_to " #", new_channel_path(:id =>@workspace.id) %></span>
         </li>



         <% if @channels %>


         <% @channels.each do |channel| %>
         <li class="list-group-item">#<%= link_to channel.name, channel_path(channel)  %></li>
         <% end %>

         <% else %>

         <% end %>
          <% if @channelsuser %>
     <% @channelsuser.each do |channelsuser| %>
     <% if channelsuser.role =='member' %>

       <li class="list-group-item">#<%= link_to channelsuser.channel.name, channel_path(channelsuser.channel_id) %></li>

   <% else %>
   <% end %>
 
 <% end %>
<% else %>

<% end %>
     </ul>
<li class="list-group-item"><%= link_to t("layouts._sidebar.Invite"), workspace_users_workspace_index_path(@workspace) %></li> 